bioc/passage_annotation.dtd

<!ELEMENT collection ( source, date, key, document+ ) >
<!ELEMENT source (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT key (#PCDATA)>

<!ELEMENT document ( id, passage+ ) >
<!ELEMENT id (#PCDATA)>

<!ELEMENT passage ( type, offset, annotation* ) >
<!ELEMENT type (#PCDATA)>
<!ELEMENT offset (#PCDATA)>

<!ELEMENT annotation (type, location, text ) >
<!ATTLIST annotation id CDATA #IMPLIED >
<!ELEMENT location (#PCDATA)>
<!ELEMENT text (#PCDATA)>
